.containerAlternatives {
  align-items: center;
  background-color: var(--gray-600);
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.buttonAlternativeTrue {
  border: 3px solid rgb(6, 240, 15);
}

.buttonAlternativeFalse {
  border: 3px solid red;
}
